@import "_css3-mixins";

.notification-bell-link {
  a {
    position: relative;
  }

  .caret {
    display: none;
  }

  .dropdown-menu {
    background: #f2f3f4;
    max-height: 556px;
    overflow: auto;
  }
}

.notification-badge {
  &.badge {
    position: absolute;
    top: 17px;
    right: 3px;
    padding: 3px 6px;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  &.badge-danger {
    background-color: #d73d32;
  }
}

.notification {
  margin: 8px 12px 8px 12px;
  background: $border-color;
  overflow: hidden;
  display: flex;
  @include border-radius(3px);
  @include box-shadow(0, 1px, 2px, rgba(0,0,0,.2));

  h4 {
    padding-top: 9px;
    margin-top: 0;
    font-weight: bold;
    white-space: normal;
    text-overflow: ellipsis;
  }

  div {
    background: #fff;
    height: auto;

    padding: 0 10px;

    //@media (max-width: 767px) {
    //  width: 100%;
    //}

    p {
      margin: 0 0 0;
      white-space: initial;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 2px;

      &.buttons {
        padding-bottom: 4px
      }

      .btn-primary {
        font-size: 16px;
        padding: 4px 23px 4px;
        margin-top: 3px;
      }

      &.button-more {
        padding-bottom: 6px
      }
    }
  }

  div{
    &.content {
      flex: 1;
      width: 290px;
      padding-right: 1px;
    }

    &.icons {
      background: $border-color;
      display: flex;
      align-items: center;
    }

    &.close-notification {
      padding-left: 1px;
    }
  }

  p.icon {
    width: 126px;
    height: 126px;
    margin: 0;
    text-align: center;
    line-height: 106px;
    left: 0;
    position: relative;
    float: left;


    .glyphicon {
      font-size: 108px;
      line-height: 119px;
      color: #fff;
    }
  }

  &.notification-more {
    box-shadow: none;
    background-color: transparent;

    div {
      margin-left: 0;
      width: 100%;
      height: auto;
      background-color: transparent;

      p {
        text-align: center;
        width: 100%;
        margin: 0;

        .btn-primary {
          margin-bottom: 3px;
        }
      }
    }
  }
}




