$primary-color: #FFDD2E;
$second-color: #4DB748;
$third-color: #ef3a47;

$text-color: #353535;
$light-text-color: #e7f1fa;

$border-color: #d2e1ec;
$main-border: solid 3px $border-color;

$main-font-family: "Roboto Condensed", sans-serif;
$second-font-family: "Open Sans Condensed", sans-serif;