@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic");

@import "_variables";

.cke_editable {
  font-family: $main-font-family;
  font-size: 15px;
  color: $text-color;
}