.forum-theme-thumbnails-header {
  color: lighten($text-color, 25);
  background: $border-color;
  padding-top: 3px;
}


.forum-theme-thumbnails {
  $img-radius: 40px;
  $img-margin: 10px;

  border-top: $main-border;
  margin-bottom: 20px;

  .thumbnail {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border: $main-border;
    border-top: none;
    @include border-radius(0);
    display: table;
    width: 100%;
    height: $img-radius + $img-margin*2 + 3px;

    @media(max-width: 767px) {
      display: block;
      height: auto;
    }

    // Фото
    .im {
      position: absolute;
      left: $img-margin;
      top: $img-margin;

      img {
        width: $img-radius;
        height: $img-radius;
      }

      div.img-circle {
        @extend img;
        background: $border-color;
        text-align: center;

        .fa {
          color: #ffffff;
          font-size: $img-radius*2/3;
          margin-top: ($img-radius - $img-radius*2/3)/2;
        }
      }
    }

    div.display-table {
      display: table;
      height: 100%;
      width: 100%;

      & > div {
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
      }
    }

    div.data {
      padding-left: $img-radius + $img-margin*2;
      @include css3-prefix(box-sizing, border-box);

      a {
        font-weight: bold;
      }

      .desc {
        color: lighten($text-color, 30);
        font-size: 12px;
      }
    }

    .forum-theme-row {
      height: $img-radius + $img-margin*2;

      & > .row {
        height: 100%;

        & > div {
          height: 100%;
          //display: table;

          & > div {
            height: 100%;
            //display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }

  }

  .no-themes {
    overflow: hidden;
    border: $main-border;
    border-top: none;
    background: #ffffff;
    text-align: center;
  }
}

.forum-messages-thumbnails {
  $img-radius: 96px;
  $img-margin: 10px;

  .user-info {
    border-left: solid 1px $border-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .list-view > div:nth-child(even) .thumbnail{
    background: lighten($border-color, 11);
  }

  .thumbnail {
    border: solid 3px $border-color;
    @include border-radius(0);

    // Фото
    .im {
      margin-bottom: 10px;

      img {
        width: $img-radius;
        height: $img-radius;
      }

      div.img-circle {
        @extend img;
        background: $border-color;
        text-align: center;

        @media(max-width:767px) {
          display: inline-block;
        }

        .glyphicon {
          color: #ffffff;
          font-size: $img-radius*2/3.1;
          margin-top: ($img-radius - $img-radius*2/3)/2 - 3px;
        }
      }
    }
  }

  .forum-message-row {
    h2 {
      margin-bottom: 3px;
    }

    .message-info {
      margin-bottom: 12px;
      font-size: 85%;
    }

    .message-content {
      word-wrap: break-word;
    }
  }

}

.forum-create-message-container {
  border: solid 3px $border-color;
  background: #fff;
}
