@import "_css3-mixins";
@import "_variables";

.select2-container--bootstrap {
  .select2-results__option--highlighted[aria-selected] {
    background: lighten($second-color, 45);
    color: $text-color;
  }

  &.select2-container--focus .select2-selection,
  &.select2-container--open .select2-selection {
    border-color: $second-color;
    @include css3-prefix('box-shadow', 'inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px '+rgba($second-color, .6));
  }

  .select2-dropdown {
    border-color: $second-color;
  }
}