.enjoy_hint_label div {
  @media(max-width:400px) {
    font-size: 16px;
    width: 80%;
    position: fixed;
    right: 20px;
  }

  @media(min-width:400px) {
    font-size: 16px;
    width: 80%;
    position: fixed;
    right: 20px;
  }

  @media(min-width:768px) {
    font-size: 18px;
    width: auto;
    position: static;
    left: auto;
  }

  @media(min-width:992px ){
    font-size: 22px;
  }

  .enjoyhint-step-1 & {
    @media(max-width:400px) {
      left: 20px;
      right: auto;
    }

    @media(min-width:400px) {
      left: 20px;
      right: auto;
    }
  }

  p {
    position: relative;
  }
}



.enjoyhint_next_btn {
  @media(max-width:400px) {
    margin-top: 190px;

    .enjoyhint-step-1 & {
      margin-top: 40px;
      right: 30px;
      left: auto !important;
    }

    .enjoyhint-step-2 & {
      margin-top: 60px;
      right: 30px;
      left: auto !important;
    }
  }

  @media(min-width:400px) {
    margin-top: 165px;

    .enjoyhint-step-1 & {
      margin-top: 40px;
    }

    .enjoyhint-step-2 & {
      margin-top: 60px;
    }
  }

  @media(min-width:768px) {
    margin-top: 0;
  }
}